* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 


}

body {
    font-family:Arial, sans-serif;
}

/*COLUMNS*/

.col-50 {
    width: 50%;
}

/*LAYOUT*/
.header-container {
    padding: 20px;
    font-size: 14px;
}

.container {
    width: 1000px;
    margin: auto;
}

.p-20 {
    padding: 20px;
}

h1 {
    font-size: 62px;
  margin-bottom: 40px;

    
    

}

.header-container a {
    text-decoration: none;
    color: #000;
}

.margin-top-100 {
    margin-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header-list {
    list-style-type: none;
    

}

.flex-start {
    justify-content: start;
    align-items: center;
}

.flex-end {
    align-items: center;
    justify-content: end;

}

.icon {
    font-size: small;
}

.margin-left-70 {

margin-left: 70px;

}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}



.p-top-20 {
    padding-top: 20px;
}

.p-top-40 {
    padding-top: 40px;
}
.header-list li {
padding: 5px;
}

.button-blue {
    background-color: blue;
    color: white !important;
    padding: 10px 15px;

}

.margin-bottom {
    margin-bottom: 40px;
    margin-top: 40px;

}

.margin-bottom-10 {
    margin-bottom: 10px;
}

/*MAIN*/

.background-skyblue {
    background-color: #b4d0e7;
}
 .col-70 {
    width: 70%;
 }

 .col-30 {
    width: 30%;
 }

 .col-33 {
    width: calc(100% / 3);

 }

 .jumbo-img {
    max-width: 100%;
 }

 .border-main {
    border: 1px solid #ccc;
 }

 .text-22 {
    font-size: 22px;
 }

 .text-15 {
    font-size: 15px;
 }

 /*COLORS*/

 .color-grey {
    color: grey;
 }